.user{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 0 100px 100px;
}

.user_url{
    font-family: 'Causten';
    padding: 30px 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    color: #807D7E;


    span{
        color: #3C4242;
    }
}

.user__sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1{
        position: relative;
        padding-left: 21px;
    
        font-family: 'Core Sans C';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
    
        letter-spacing: 0.02em;
        color: #3C4242;
    
        &::before{
            content: "";
            display: block;
    
            position: absolute;
            width: 6px;
            height: 28px;
            left: 0px;
            top: 1px;
    
            background: #8A33FD;
            border-radius: 10px;
        }
    }
    
    p{
        font-family: 'Core Sans C';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;
        letter-spacing: 0.02em;
    
        color: #807D7E;
    }
    
}


.user__nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;

    
    a{    
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 17px;
        padding: 11px 165px 11px 37px;

        span{
            font-family: 'Causten';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            color: #807D7E;    
        }
        
        svg{
            width: 22px;
            height: 22px;
            color: #807D7E;
        }
    }

    .user__nav__main{
        position: relative;
        background-color: #F6F6F6;
        border-radius: 0 8px 8px 0;
        
        &::before{
            content: "";
            display: block;

            position: absolute;
            width: 2px;
            height: 44px;
            left: 0px;
            top: 0px;

            background: #3C4242;
        }
    }
}

.user__info{
    display: flex;
    flex-direction: column;
    gap: 20px;

    h3{
        font-family: 'Core Sans C', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 34px;
        letter-spacing: 0.02em;

        color: #3C4242;
    }

    h6{
        font-family: 'Core Sans C', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 22px;
        line-height: 34px;
        letter-spacing: 0.02em;

        color: #3C4242;
    }
}

.user__info__items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;

    padding: 20px 0;
    max-width: 900px;
    
    div{
        display: flex;
        flex-direction: column;
        gap: 10px;

        span{
            font-family: 'Causten';
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 0.02em;

            color: #3C4242;
        }

        input{
            font-family: 'Causten';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;

            padding: 17px 22px;
            width: 360.3px;
            
            background: #F6F6F6;
            border-radius: 8px;
            color: #807D7E;
        }
        
        .user__info__error{
            border: 1px solid #F46565;
        }
    }
}

.user__info__btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    max-width: 900px;

    div{
        display: flex;
        flex-direction: row;
        gap: 20px;


        button{
            font-family: 'Causten', sans-serif;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            
            padding: 12px 40px;
            
            background: #F6F6F6;
            border-radius: 8px;
            color: #807D7E;

            &:first-child{          
                background: #8A33FD;
                color: #FFFFFF;
            }

            &:disabled{
                background: #F6F6F6;
                color: #807D7E; 
                cursor: not-allowed;
            }
        }
    }

    svg{
        font-size: 20px;
        border-radius: 8px;
        padding: 12px;
    
        background-color: #F6F6F6;
        color: #3C4242;
        cursor: pointer;
    }

    .user__info__icon{
        font-size: 20px;
        border-radius: 8px;
        padding: 12px;
    
        background-color: #8A33FD;
        color: #FFFFFF;
        cursor: pointer;

    }

}